<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    name="description"
    content="{{ .Site.Params.description }}"
  />
  <title>{{ .Site.Title }}</title>
  <link rel="stylesheet" href="{{ "css/reset.css" | relURL }}"/>
  <link rel="stylesheet" href="{{ "css/font.css" | relURL }}"/>
  <link rel="stylesheet" href="{{ "css/smigle.css" | relURL }}"/>
  {{ range .Site.Params.customStylesheets }}
    <link rel="stylesheet" href="{{ . | relURL }}"/>
  {{ end }}
</head>
